*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.logo-empresa {
  margin: 0;
  font-size: 2.8rem;
}

.nav {
  display: flex;
  justify-content: center; /* Modificado de flex-start a center para simetría al saltar de línea */
  flex-wrap: wrap; /* Instrucción corrige el corte en pantalla */
  gap: 15px; 
  max-width: 700px;
  margin: 0 auto 50px auto; 
}
.card-body {
  padding: 20px;
  background-color: #8A2BE2; 
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.card-title {
  margin: 0; 
  font-size: 1.6rem;
}


.card-image {
  width: 100%;
  object-fit: cover;
}

.section-tech {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px; 
  max-width: 700px;
  margin: 0 auto; 
}

.form-body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px; 
  max-width: 700px;
  margin: 0 auto;   
}

.header-main {
  background-color: #8A2BE2; 
  color: white; 
  padding: 60px 20px;
  text-align: center;
  max-width: 700px; 
  margin: 10px auto; 
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.nav a, .card-body a {
  text-decoration: none;
  padding: 8px 16px; 
  border-radius: 13px; 
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  align-self: flex-start;
}

.btn-primary {
  background-color: #7B2CBF; 
}

.btn-secondary {
  background-color: #00A36C; 
}

.btn-danger {
  background-color: #FF4500; 
}

.btn-info {
  background-color: #FFEA00;
  color: black !important;
}

.card-text {
  margin: 0;
  line-height: 1.3;
  font-size: 1rem;
}

label{
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 5px;
}

input, textarea{
  width: auto;
  padding: 12px;
  margin-top: 6px;
  border: 1px solid #8A2BE2;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: none;

}
input, textarea:focus{
  outline: none;
  color: darkviolet;
  border-color:darkmagenta;
  background-color: #FFEA00;
}
.form-title {
  color: #FFFFFF;
  border-bottom: 2px solid #e8f0fe;
  padding-bottom: 8px;
  margin-top: 25px;
}



.btn-submit{
  background-color: #FF4500;
  border: 2px;
  border-radius: 20px 4px 20px 4px;
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  margin: 20px;
  font-family: "Story Script", sans-serif;
  font-weight: 800px;
  font-style: normal;
}
.card-form{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0;
  background-color: #8A2BE2; 
  color: white;
  border-radius: 10px;
  
}
.section-form{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.card-tech {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0; 
  border-radius: 10px; 
  overflow: hidden; 
}

footer{
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  /* Todo lo que escribas aquí adentro SOLO se aplicará
     si la pantalla mide 768px o más */
  .main-content {
      flex-direction: row; /* Cambiamos de torre a fila */
      justify-content: center; /* Mantenemos todo centrado en la pantalla */
      gap: 50px; /* Le damos un poco más de aire entre la tarjeta y el formulario */
  }
  .header-main, .nav {
    max-width: 800px; 
  }

  .nav {
    justify-content: center; 
  }
}

/* Pantallas grandes (Monitores: 1024px o más) */
@media (min-width: 1024px) {
  .header-main, .nav {
    max-width: 900px;
  }

  .logo-empresa {
    font-size: 3.5rem; 
  }
}
